:root{
  // colors //
  --light-color:    #f0f3f5;
  --white-color:    #ffffff;
  --dark-color:     #343a40;
  --yellow-color:   #ffc107;
  --orange-color:   #ff7f07;
  --red-color:      #dc3848;
  --pink-color:     #f78074;
  --purplue-color:  #383ecc;
  --blue-color:     #007bff;
  --green-color:    #28a745;
  
  --card-color:     #ffffff;
  
  // box-shadow //
  --default-shadow: 0 3px 6px #00000033;
  --btn-shadow:     0 3px 4px #00000099;
}

.is-light-mode{
  --light-color:    #f0f3f5;
}

.is-dark-mode{
  --dark-color:     #ffffff;
  --light-color:    #2b343a;
  --card-color:     #2f3338;
  // --white-color:    #ffffff;
  --white-color:    #1a1b1d;
}

