@import 'config';
@import 'utilities';
@import 'buttons';

body{
  height: 100vh;
  background-color: var(--light-color);
  // background: linear-gradient(#d00f24 0%, #383ecc 140%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.darkMode{
  --var-medida: calc(26px);
  width: calc(var(--var-medida) * 2.25);  
  height: var(--var-medida);
  border-radius: var(--var-medida);
  background-color: var(--dark-color);
  box-shadow: var(--default-shadow);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  &::after{
    content: '';
    display: block;
    --var-medida: 26px;
    --var-new-medida: calc(var(--var-medida) - 6px);
    width: var(--var-new-medida);  
    height: var(--var-new-medida);
    border-radius: var(--var-new-medida);
    background-color: var(--card-color);
    position: absolute;
    top: calc((var(--var-medida) - var(--var-new-medida)) / 2);
    left: calc((var(--var-medida) - var(--var-new-medida)) / 2);
    right: unset;
  }

  &.active{
    background-color: #f0f3f5;

    &::after{
      left: unset;
      right:  calc((var(--var-medida) - var(--var-new-medida)) / 2);
      background-color:  #343a40;
    }
  }
}

.card{
  position: relative;
  height: 500px;
  width: 250px;
  overflow: hidden;

  .circle{
    --var-medida: calc(550px);
    width: var(--var-medida);  
    height: var(--var-medida);
    border: none;
    border-radius: 50%;
    z-index: 10;
    top: -29%;
    left: -2rem;
    position: absolute;
  }
  
  > *:nth-child(2){
    --var-medida: calc(590px);
    z-index: 5;
  }

  form{
    width: 100%;
    height: 100%;
    z-index: 20;
    position: relative;

    .form-group{
      display: flex;
      align-items: center;

      .box{
        --var-medida: calc(90px);
        width: var(--var-medida);  
        height: var(--var-medida);
        span{
          line-height: var(--var-medida);
          font-size: var(--var-medida);
          // color: var(--white-color);
        color: #fff;

        }
      }
      input{
        padding-bottom: 6px;
        border: none;
        border-bottom: 1px solid var(--white-color);
        background-color: transparent;
        // color: var(--white-color);
        color: #fff;
      }::placeholder{
        color: #fff;
        // color: var(--white-color);
        font-weight: 100;
      }
    }

    .btn-white{
      text-align: center;
      width: 100%;
      font-size: 15px;
      border-radius: 50px;
    } 
  }

  .gradient-wheel{
    --var-medida:45px;
    width: var(--var-medida);
    height: var(--var-medida);
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
  }

  .gradient-options{
    z-index: 30;
    position: absolute;
    bottom: 65px;
    left: 20px;
    width: 45px;
    height: auto;

    ul{
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .gradient{
        --var-medida:45px;
        width: var(--var-medida);
        height: var(--var-medida);
        border-radius: 50%; 
        cursor: pointer;
      }
    }
  }
}


@function isColorDark($color ) {
  // Parse RGB by isolating each color
  $red: red($color );
  $green: green($color );
  $blue: blue($color );
  // Compute the perceptive luminance, keeping
  // in mind that the human eye favors green.
  $l: 1 - (0.299 * $red + 0.587 * $green + 0.114 * $blue ) / 255;

  /* arguably this should be 0.50, but testing out various colors, this seemed to be the best so far. */
  @if ($l < 0.41) {
    // if the luminance is less than 0.5 return black
    @return #000000;
  }

  @else {
    // if the luminance is more than 0.5 return white
    @return #ffffff;
  }
}

// //colors
// $purple: #6741a7;
// $lightGreen: #90EE90;
// $yellow: #ffd800;
// $brandColor1: #ff7e00;
// $brandColor2: #2359d5;
// $grey: #333;

// %basefoo {
//   display: flex;
//   height: 200px;
//   width: 200px;
//   text-align: center;
//   margin: auto;
//   align-items: center;
//   justify-content: center;
//   flex: 1;
//   flex-basis: 15%;
// }

// .container {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
// }

// .foo {
//   @extend %basefoo;
//   color: isColorDark($purple);
//   background: $purple;
// }

// .foo1 {
//   @extend %basefoo;
//   color: isColorDark($brandColor2);
//   background: $brandColor2;
// }

// .foo2 {
//   @extend %basefoo;
//   color: isColorDark($lightGreen);
//   background: $lightGreen;
// }

// .foo3 {
//   @extend %basefoo;
//   color: isColorDark($grey);
//   background: $grey;
// }

// .foo4 {
//   @extend %basefoo;
//   color: isColorDark($yellow);
//   background: $yellow;
// }

// .explain {
//   flex-basis: 600px;
//   text-align: center;
//   margin: auto;
// }